body {
    font-size: 15px;
    color: black;  
    background-color: lightsteelblue;
}

/* .navbar {    
    display: block;
    text-decoration: none; 
} */

/* Set the spacing between the links */
.navbar ul {
    padding-right: 15px;
    margin-right: 15px;
    font-size:  15px;
} 

.bg-light {
    background-color: lavender !important;
}
  
  /* Change the color of links on hover*/
a:hover  { 
    background:blue;
    color:black;
    transition: .10s;
} 

.container-body {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 40px;
    width: 90%; 
    margin-top: 130px;    
    margin-left: 65px;
    margin-right: 30px;
    margin-bottom: 25px;
    border-style: inset;
    background-color: deepskyblue;
    justify-content: center;
    text-align: center; 
}


hr {
    border-top: 1px solid;
    margin-top: 10px;
    margin-bottom: 20px; 
    margin-left: 15px; 
    width: 92%; 
}

#id {
 color: mediumblue;   
}

.bio {
    text-align: left;
    word-spacing: normal;
    white-space: pre-wrap;
}

.socialhr {
    width: 95%;
  }
  
  .connect {
    text-align: center ;
  }
  
  /* set the font size of the Social Media Letters */
  .col-social {
    padding-left: 187px;
    font-size: 15px; 
    justify-content: center;  
  }
    
    /* Set the LinkedIn effects */
  .fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    justify-content: center;   
  }
      
      /* Add a hover effect */
  .fa:hover {
    opacity: 0.7;
  }
  
   /* Set a specific color for each brand */
    
    /* LinkedIn */
  .fa-linkedin {
    background: #007bb5;
    color: white;
      
  }