
/* .navbar {
   
    display: block;
    text-decoration: none; 
}  */

.bg-light {  
  background-color: lavender !important;
}

a:hover  { 
  background:blue;
  color:black;
  transition: .10s;
} 

body {
  font-size: 15px;
  color: black;  
  /* background-color: lightsteelblue; */
  }

.padding {
    padding: 20px;
}

.container-body {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 40px;
    width: 90%; 
    margin-top: 145px;    
    margin-left: 65px;
    margin-right: 30px;
    margin-bottom: 25px;
    border-style: inset;
    background-color: deepskyblue;
    justify-content: center; 
    text-align: center;
}

hr {
    border-top: 1px solid;
    margin-top: 10px;
    margin-bottom: 20px; 
    margin-left: 15px; 
    width: 92%; 
  }

.img-fluid {
    width: 300px;
    height: 280px;
    justify-content: center;
    border-style: solid;
}

.socialimg {
  width: 95%;
}

/* set the font size of the Social Media Letters */
.social a {
    font-size: 15px;
  }
  
  /* Set the LinkedIn effects */
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
    
    /* Add a hover effect */
  .fa:hover {
    opacity: 0.7;
  }

 /* Set a specific color for each brand */
  
  /* LinkedIn */
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }