
/* .navbar {
   
    display: block;
    text-decoration: none; 
}  */

.bg-light {
    background-color: lavender !important;
}

a:hover  { 
    background:blue;
    color:black;
    transition: .10s;
} 

body {
    font-size: 15px;
    color: black;  
    background-color: lightsteelblue;
  }

.padding {
    padding: 20px;
}

.container-body {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 40px;
    width: 90%; 
    margin-top: 145px;    
    margin-left: 60px;
    margin-right: 30px;
    margin-bottom: 25px;
    border-style: inset;
    background-color: deepskyblue; 
}

hr {
    border-top: 1px solid;
    margin-top: 10px;
    margin-bottom: 20px; 
    margin-left: 15px; 
    width: 92%; 
  }

.img-fluid {
    width: 300px;
    height: 280px;
    justify-content: center;
}