

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html, body {
  height:100%;
}

body {
  font-size: 15px;
  color: black;  
  background-color: lightsteelblue;
}

/* set the padding for the page */
.padding {
  padding: 20px;
}

.container-fluid {
  margin-top: 15px;
}

/* Set the spacing between the links */
.navbar {
  /* padding: 15px; */
  display: block;
  text-decoration: none; 
} 

/* Set the spacing between the links */
.navbar ul {
  padding-right: 15px;
  margin-right: 15px;
  font-size:  15px;
}

.bg-light {
  background-color: lavender !important;
}

/* Change the color of links on hover*/
a:hover  { 
  background:blue;
  color:black;
  transition: .10s;
} 

.container-body {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 40px;
  width: 90%; 
  margin-top: 145px;
  /* margin-top: 30px; */
  margin-left: 30px;
  margin-bottom: 0;
  border-style: inset;
  background-color: deepskyblue; 
}

hr {
  border-top: 1px solid;
  margin-top: 10px;
  margin-bottom: 20px; 
  margin-left: 15px; 
  width: 92%; 
}

/* set the color of the contact links */
section ul a {
  color: antiquewhite;
}

/* set the font size of the Social Media Letters */
.social a {
  font-size: 15px;
}

/* Set the LinkedIn effects */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
  
  /* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}
  
  /* Set a specific color for each brand */
  
  /* LinkedIn */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Footer */
footer {
  background-color:purple;
  position: relative;
  width:90%;
  height: 30px;    
  margin-left: 30px;
  padding-bottom: 80px;
  font-size: 20px;
  text-align: center;
  clear: both;
}