.footer {
   min-height: 30px; 
   position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;  
  background-color:plum;
  text-align: center;
  font-size: 15px;
}
